@page "/"

<PageTitle>Home</PageTitle>

<div class="header">
	<h1 style="margin-right: 70%;">Feedora</h1>
	<a href="Account/Login"><input type="button" id="submit" class="submit" value="Login"></a>
	<a href="Account/Register"><input type="button" id="submit" class="submit" style="color:#000000; background-color: #fff; margin-left: 20px;" value="Register"></a>
</div>
<h1>About us</h1>
	<p>At Feedoora, we are on a mission to revolutionize the food delivery industry
	<br />
	by tackling common challenges such as delays, inconsistent service, high fees,
	<br />
	and lack of personal touch. Our focus is on ensuring efficient and timely delivery,
	<br />
	creating the best experience for both our valued staff and customers.
</p>

