@page "/"

<PageTitle>Home</PageTitle>

<div class="header">
	<h1 style="margin-right: 70%;">Feedora</h1>
	<a href="Account/Login"><input type="button" id="submit" class="submit" value="Login"></a>
	<a href="Account/Register"><input type="button" id="submit" class="submit" style="color:#000000; background-color: #fff; margin-left: 20px;" value="Register"></a>
</div>

